<router-outlet></router-outlet>

<div class="example-header">
    <mat-form-field>
        <input matInput (keyup)="filtrar($event)" placeholder="Buscar rol">
    </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="idrol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.idRol}} </td>
    </ng-container>

    <ng-container matColumnDef="rol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
            <button mat-button color="primary" [routerLink]="['edicion', element.idRol]">
                <mat-icon>ballot</mat-icon>
            </button>
            <button mat-button color="primary" (click)="eliminar(element.idRol)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<button mat-fab color="accent" style="float: right" routerLink="/pages/roles/nuevo" >
    <mat-icon>add</mat-icon>
</button>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
    [length]="cantidad" (page)="mostrarMas($event)">
</mat-paginator>

