<router-outlet></router-outlet>
<div *ngIf="route.children.length === 0">
  <h1>Signos Vitales</h1>
<div class="example-header">
  <mat-form-field>
      <input matInput (keyup)="filtrar($event)" placeholder="Buscar">
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="idSignoVital">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.idSignoVital}} </td>
  </ng-container>

  <ng-container matColumnDef="paciente">
   <th mat-header-cell *matHeaderCellDef mat-sort-header> Paciente </th>
    <td mat-cell *matCellDef="let element"> {{element.paciente.nombres | uppercase }}
        {{element.paciente.apellidos | uppercase}}</td>
  </ng-container>

  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let element"> {{element.fecha | date:'dd-MM-yyyy hh:mm:ss a'}}</td>
</ng-container>

<ng-container matColumnDef="temperatura">
  <th mat-header-cell *matHeaderCellDef> Temperatura </th>
  <td mat-cell *matCellDef="let element"> {{element.temperatura}} </td>
</ng-container>

<ng-container matColumnDef="pulso">
  <th mat-header-cell *matHeaderCellDef> Pulso </th>
  <td mat-cell *matCellDef="let element"> {{element.pulso}} </td>
</ng-container>

<ng-container matColumnDef="ritmoRespiratorio">
  <th mat-header-cell *matHeaderCellDef> Ritmo Respiratorio </th>
  <td mat-cell *matCellDef="let element"> {{element.ritmoRespiratorio}} </td>
</ng-container>

<ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
          <button mat-button color="primary" [routerLink]="['edicion', element.idSignoVital]">
              <mat-icon>ballot</mat-icon>
          </button>
          <button mat-button color="primary" (click)="eliminar(element.idSignoVital)">
              <mat-icon>delete</mat-icon>
          </button>
      </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<button mat-fab color="accent" style="float: right" routerLink="/pages/signos-vitales/nuevo" >
  <mat-icon>add</mat-icon>
</button>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
  [length]="cantidad" (page)="mostrarMas($event)">
</mat-paginator>
</div>
