<form class="example-container" [formGroup]="form" #frmRol="ngForm" (ngSubmit)="operar()">

  <div [hidden]="true">
      <mat-form-field class="example-full-width">
          <input matInput placeholder="ID" required formControlName="id">
      </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
      <input matInput placeholder="Rol" maxlength="15" required formControlName="rol">
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput placeholder="Descripción" formControlName="descripcion">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="frmRol.invalid">
      <mat-icon>done</mat-icon>
      <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" routerLink='/pages/roles' type="button">
      <mat-icon>close</mat-icon>
      <span>Cancelar</span>
  </button>
</form>

